services:
  voidwatcher:
    image: ghcr.io/ladishdev/voidwatcher:latest
    container_name: voidwatcher
    environment:
      - CONTAINER_NAMES=my_container_1,my_container_2
      - my_container_1_TERMS=error,critical,failure      # Terms for container 1
      - my_container_2_TERMS=timeout,warning            # Terms for container 2
      - DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/your_webhook_url
      - GOTIFY_URL=http://your-gotify-url
      - GOTIFY_TOKEN=your_gotify_token
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always